# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Sai\CU Boulder\Sophomore\Sem 2\CSCI 4448 Object-Oriented Analysis and Design\Milestone1\Milestone1-csci4448-5448\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
